.box {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}

.wrapper {
  margin: auto 0;
  width: 600px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(10, 75px);
  grid-auto-flow: column;
}