html {
  background-color: #f6f5ed;
}

.box {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  border-radius: 1px;
  border-color: lightsteelblue;
  border-style: solid;
  border-width: 1px;
}

#wrapper {
  margin: auto;
  width: 300px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(10, 60px);
  grid-auto-flow: column;
  border-color: lightsteelblue;
  border-style: solid;
  border-width: 10px;
  border-radius: 3px;

}

.gray {
  background-color: lightgray;
}

/* div#49 {
  background-color: lightgray;
} */

h1:first-of-type {
  text-align: center;
}